body {
    background-color: #C8C5D1
}

.container {
    margin: 0 auto;
    width: 1186px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 2px;
}

thead td {
    cursor: pointer;
    padding-left: 20px;
}

tbody td {
    padding: 22px;
}

tbody td {
    background-color: white;
}

button {
    cursor: pointer;
}